body {
  text-align: center;
  margin: 120px auto 0px;
}
.heading {
  text-shadow: 2px 2px 2px #0057a5;
  font-size: 40px;
  margin-bottom: 40px;
}
.cont1 {
  height: 650px;
  width: 1400px;
  position: relative;
  margin: 0px auto;
  padding: 2em;
  display: flex;
  border-radius: 12px;
  box-shadow: 10px 10px 10px #7e7e7e;
  margin-bottom: 50px;
}
.cont2 {
  height: 550px;
  width: 660px;
  border: 3px black;
  position: relative;
  border-radius: 12px;
  margin: 0px auto;
  text-align: left;
}
.cont3 {
  height: 535px;
  width: 660px;
  border: 3px black;
  text-align: left;
  padding: 6px 8px;
  border-radius: 12px;
  margin: 0px auto;
  
}
h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #0057a5;
}
