
body {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  background-image: url(back.png);
  background-repeat: no-repeat;
  background-size: 100%;


}

.team{
    position: absolute;
    top: 50px;
    left: 700px;
    text-align: center;
    font-size: 60px;
    text-shadow: 2px 2px 2px purple;
    
}
.wel{
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 40px;
    opacity: 1.0;
    text-shadow: 2px 2px 2px purple;



    
}
.wel:hover{
    opacity: 0.5;
}
.para{
    position: absolute;
    top: 300px;
    
        animation-duration: 10s;
        animation-name: slide-in;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      
      

}
.box1{
     
     width: 1900px;
     height: 500px;
     border-radius: 12px;
}
.navbar{
    color: black;
    position: fixed;
    top: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
    transition: 0.3s;
}
.navbar li{
    margin: 0 15px;
}
.navbar ul{
    list-style: none;
    display: flex;
}
.navbar a{
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 15px;
    transition: 0.3s
}
.navbar a:hover{
    border-radius: 5px;
}
.box2{
    background-color: rgb(152, 42, 167);
    width: 400px;
    height: 400px;
    border-radius: 12px;
    position: absolute;
    left: 50px;
    top: 700px;
}
.img1 {border-radius: 20px ;
    position: absolute;
    left: 1300px;
    top: 250px
   ;
    opacity: 1.0;
   
}


.border::before{
    position: absolute;
    height: 130%;
    background-image: linear-gradient(180deg,rgb(0,183,255),rgb(225,48,255));
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

img:hover{
    opacity: 0.5;
}
.box3{
    background-color: rgb(152, 42, 167);
    width: 400px;
    height: 400px;
    border-radius: 12px;
    position: absolute;
    left: 500px;
    top: 700px;
}


.img2{
    border-radius: 12px;
}
.rev{
    position: absolute;
    top: 600px;
    left: 1000px;
    opacity: 1.0;
    text-shadow: 2px 2px 2px purple;
}
.rev:hover{
    opacity: 0.5;
}
.para2{
    position: absolute;
    top: 690px;
    left: 850px;
}
.raj{
    position: absolute;
    top: 1200px;
    left: 770px;
    text-align: center;
}
.insta{
  position: absolute;
  top: 1180px;
  left: 800px;
}
.you{
    position: absolute;
    top: 1180px;
    left: 900px;
}
.call{
    position: absolute;
    top: 1180px;
    left: 1000px;
}
.img2{border-radius: 20px ;
    position: absolute;
    left: 250px;
    top: 630px
   ;
    opacity: 1.0;
}
H4{
    position: absolute;
    top: 930px;
    left: 880px;
}
p4{
    position: absolute;
    top: 1000px;
    left: 890px;
}
.mail{
    position: absolute;
    top: 1180px;
    left: 1100px;
}


