* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(media/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Edu AU VIC WA NT pre", cursive;
}
.navbar {
  height: 80px;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 0px 50px;
}
.navbar img {
  width: 70px;
}
.main {
  margin-top: 80px;
}
.team {
  letter-spacing: 2px;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px 2px purple;
  margin: 0px;
}
.navbar ul {
  width: 800px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.navbar ul li:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.navbar a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}
.box1 {
  margin: 180px auto;
  font-size: 20px;
  width: 1650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info {
  width: 900px;
}
.wel {
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-size: 40px;
  opacity: 1;
  text-shadow: 2px 2px 2px purple;
}
.wel:hover {
  opacity: 0.7;
}
.img1 {
  border-radius: 20px;
  width: 550px;
  height: 350px;
}
.box2 {
  margin: 180px auto;
  font-size: 20px;
  width: 1650px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img2 {
  border-radius: 20px;
  width: 550px;
  height: 350px;
}
.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 300px;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
}
.rightSide {
  text-align: center;
}
.to {
  width: 200px;
}
.raj {
  font-size: 22px;
  margin-bottom: 30px;
}
div.links {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.leftSide {
  text-align: center;
}
.TeamHead {
  margin-top: 40px;
  font-size: 22px;
  margin-bottom: 30px;
}
.leftSide p4 {
  line-height: 2;
  font-size: 20px;
}
