.Bigbox {
  margin: 180px 0px;
}
.container {
  margin: 100px auto;
  width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading {
  font-size: 40px;
}
.subHeading {
  font-size: 20px;
}
.para {
  font-size: 19px;
}
.img {
  width: 500px;
  height: 300px;
  border-radius: 12px;
}
.infobox {
  width: 800px;
}
.infoBox1 {
  width: 800px;
  text-align: right;
}
